<!DOCTYPE HTML>
<html>
<head>
<title>Anasayfa</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
sum = {{sums}}
<body>

	<table>
		<thead>
		<tr>
			<th>Id</th>
			<th>Price</th>
			<th>Month</th>
			<th>Description</th>
			
		</tr>
		</thead>
		<tbody>
			{% for row in value %} 
				<tr></tr>
					<td>{{row[0]}}</td>
					<td>{{row[1]}}</td>
					<td>{{row[2]}}</td>
					<td>{{row[3]}}</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>


</body>
</html>
