<!DOCTYPE HTML>
<html>
<head>
<title>Kategori Ekleme</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: SlateGray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(148, 148, 148);
}
</style>
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/sitelogo.png') }} />
	</a>

	{% if not girildiMi %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Giriş Yap</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Welcome, <br>{{adi}}</button>
		<div class="dropdown-content">
			<a href="/account/profile">Profile</a>
			<a href="/AdminPanel" class="w3-bar-item w3-button" style="{{adminpanel}}" >Admin Panel</a>
			<hr>
			<a href="/logout">Log out</a>
		</div>
	</div>
	{% endif %}

</div>
<div class="w3-content w3-padding" style="max-width:1564px">
<div class="display">

<form class="w3-panel w3-card-4" action="/addcategoryitem" method="POST" align="center">
  <h2>Add new category</h2>

  <p>Packet Name : <input name="paketadi" class="w3-input" type="text" placeholder="Add new packet" ></p>
  <p>Price of Packet : <input name="paketfiyati" class="w3-input" type="text" placeholder="Price of packet" ></p>
   <p>Explanation of packet : <input name="paketaciklamasi" class="w3-input" type="text" placeholder="Explanation of packet" ></p>
  <p><button class="w3-btn w3-black">Add</button></p> 
  
  
</form>
</div>
</div>
<p>><a href="/AdminPanel" class="w3-button w3-black"> Admin page </a>  </p> 
</body>
</html>