<!DOCTYPE HTML>
<html>

<head>
	<title>Details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}

<!-- Content -->
<body
	style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.jpg') }}); background-position: center; background-repeat: no-repeat;background-size: cover;">
	<!-- NORMAL MUHASEBE -->
	<div class="w3-margin w3-center w3-gym11">
		<h1>Total balance is {{(-1 * degerAlacaklar)+deger}}₺</h1>
	</div>
	{% if deger == 0 %}
	<div class="w3-margin w3-center w3-gray">
		<h1 class="">All income without depts {{deger}}₺</h1>
	</div>
	{% elif deger > 0 %}
	<div class="w3-margin w3-center w3-green">
		<h1 class="">You are good! Your current state without depts is +{{deger}}₺</h1>
	</div>
	{% else %}
	<div class="w3-margin w3-center w3-gym11">
		<h1>There are problems! Your current state without depts is {{deger}}₺</h1>
	</div>
	{% endif %}

	<div class="w3-margin w3-padding w3-center w3-white w3-card" style="overflow-x:auto;">
		<br>
		<table align="center">
			<thead>
				<tr>
					<th>Id</th>
					<th>Price</th>
					<th>Month</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for row in value %}
				<tr></tr>
				<td class="w3-gray">{{row[0]}}</td>
				{% if row[1] > 0 %}
				<td class="w3-green" style="width: 30%">{{row[1]}}</td>
				{% elif row[1] < 0 %}
				<td class="w3-gym11" style="width: 30%">{{row[1]}}</td>
				{% else %}
				<td class="w3-gray" style="width: 30%">{{row[1]}}</td>
				{% endif %}

				<td class="w3-gray" style="width: 40%">{{row[2]}}</td>
				<td class="w3-gray" style="width: 30%">{{row[3]}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- BORCLAR + MUHASEBE MUHASEBE -->
	{% if degerAlacaklar == 0 %}
	<div class="w3-margin w3-center w3-gray">
		<h1 class=""> All income with dept is {{degerAlacaklar}}₺</h1>
	</div>
	{% elif degerAlacaklar > 0 %}
	<div class="w3-margin w3-center w3-green">
		<h1 class="">You are good! Your current state with dept is +{{degerAlacaklar}}₺</h1>
	</div>
	{% else %}
	<div class="w3-margin w3-center w3-gym11">
		<h1>There are problems! Your current state with dept is {{degerAlacaklar}}₺</h1>
	</div>
	{% endif %}

	<div class="w3-margin w3-padding w3-center w3-white w3-card" style="overflow-x:auto;">
		<br>
		<table align="center">
			<thead>
				<tr>

					<th>Id</th>
					<th>Price</th>
					<th>Month</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for row in alacaklar %}
				<tr></tr>
				<td class="w3-gray">{{row[0]}}</td>
				{% if row[1] > 0 %}
				<td class="w3-green" style="width: 30%">{{row[1]}}</td>
				{% elif row[1] < 0 %}
				<td class="w3-gym11" style="width: 30%">{{row[1]}}</td>
				{% else %}
				<td class="w3-gray" style="width: 30%">{{row[1]}}</td>
				{% endif %}

				<td class="w3-gray" style="width: 40%">{{row[2]}}</td>
				<td class="w3-gray" style="width: 30%">{{row[3]}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!-- KAFE MUHASEBE -->
	{% if degerCafe == 0 %}
	<div class="w3-margin w3-center w3-gray">
		<h1 class="">Your cafes current state is {{degerCafe}}₺</h1>
	</div>
	{% elif degerCafe > 0 %}
	<div class="w3-margin w3-center w3-green">
		<h1 class="">You are good! Your current state of cafe is +{{degerCafe}}₺</h1>
	</div>
	{% else %}
	<div class="w3-margin w3-center w3-gym11">
		<h1>There are problems! Your current state of cafe is {{degerCafe}}₺</h1>
	</div>
	{% endif %}
	<div class="w3-margin w3-padding w3-center w3-white w3-card" style="overflow-x:auto;">
		<br>
		<table align="center">
			<thead>
				<tr>
					<th>Id</th>
					<th>Price</th>
					<th>Month</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for row in cafedata %}
				<tr></tr>
				<td class="w3-gray">{{row[0]}}</td>
				{% if row[1] > 0 %}
				<td class="w3-green" style="width: 30%">{{row[1]}}</td>
				{% elif row[1] < 0 %}
				<td class="w3-gym11" style="width: 30%">{{row[1]}}</td>
				{% else %}
				<td class="w3-gray" style="width: 30%">{{row[1]}}</td>
				{% endif %}

				<td class="w3-gray" style="width: 40%">{{row[2]}}</td>
				<td class="w3-gray" style="width: 30%">{{row[3]}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>

</html>