<!DOCTYPE HTML>
<html>

<head>
	<title>Accounting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}

<!-- Content -->

<body
	style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.jpg') }}); background-position: center; background-repeat: no-repeat;background-size: cover;">

	<form class="form-style-10" action="/accounting" method="POST" onsubmit="return validate()">
		<h1>Muhasebe</h1>
		<div class="section"><span>1</span>Doldurulması zorunlu alanlar</div>
		<div class="inner-wrap">
			<p>Üye numarası</p>
			<select class="w3-input" name="id">
				{% for row in idler %}
				<option value="{{row[0]}}">{{row[0]}}</option>
				{% endfor %}
			</select>
			<p>İsim</p>
			<select class="w3-input" name="name">
				{% for row in isimler %}
				<option value="{{row[0]}}">{{row[0]}}</option>
				{% endfor %}
			</select>
			<p>Soyad</p>
			<select class="w3-input" name="surname">
				{% for row in soyadlar %}
				<option value="{{row[0]}}">{{row[0]}}</option>
				{% endfor %}
			</select>
			<p>Ücret<input type="text" name="price"></p>
			<p>Gün<input type="date" name="date"></p>
			Açıklama<textarea name="explanation" rows=5 placeholder="Açıklama :"></textarea>
		</div>

		<input type="submit" value="Kaydet">
	</form>
</body>

</html>