<!DOCTYPE HTML>
<html>

<head>
	<title>Kopyalama - Back up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}

<!-- Content -->

<body
	style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.jpg') }}); background-position: center; background-repeat: no-repeat;background-size: cover;">
	<div class="display">

		<form class="w3-panel w3-card w3-white form-style-10" action="/changeDatabaseName" method="POST" align="center">
			<h2>Yeni paket ekle</h2>

			<p>Secmek istedigin ay ve yılı yaz<input name="databaseIsmi" class="w3-input" type="text" placeholder="Örnek : database0112"></p>
	
			<input type="submit" value="Add"></button>
		</form>
	</div>
	
	<div class="w3-display-container">
		<div class="w3-content w3-center">
			<img class="w3-bar-item w3-image w3-circle" src="{{ url_for('static', filename='images/sitelogo.png') }}" />
		</div>
	</div>
</body>
<!-- Content End-->

</html>