<!DOCTYPE HTML>
<html>

<head>
	<title>Anasayfa</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>


<!-- Content -->
<body
	style="font-family: 'Roboto', sans-serif; background-color: black;">
	<div class="w3-display-container">
		<div class="w3-content w3-center">
			<br>
			<br>
            <h1 class="w3-margin-64 w3-gym11">{{msg}}</h1>
            <br>
			<button class="form-style-10 w3-gym11" type="button" onclick="javascript:history.back()">Geri gel</button>
		</div>
	</div>
</body>

</html>