<!DOCTYPE HTML>
<html>

<head>
	<title>Income Details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/tableSearch.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}

<!-- Content -->

<body
	style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.jpg') }}); background-position: center; background-repeat: no-repeat;background-size: cover;">
	<div class="w3-padding">
		{% if msg %}
		<p class="w3-gym11">{{msg}}</p>
		{% endif %}
		<form class="form-style-10" action="/income" method="POST">
			<div class="section"><span>1</span>Extra Details</div>
			<div class="inner-wrap">
				<p>Id</p>
				<select class="w3-input" name="id">
					{% for row in idler %}
					<option value="{{row[0]}}">{{row[0]}}</option>
					{% endfor %}
				</select>
				<p>Name</p>
				<select class="w3-input" name="uyeAdi">
					{% for row in isimler %}
					<option value="{{row[0]}}">{{row[0]}}</option>
					{% endfor %}
				</select>
				<p>Surname</p>
				<select class="w3-input" name="uyeSoyadi">
					{% for row in soyadlar %}
					<option value="{{row[0]}}">{{row[0]}}</option>
					{% endfor %}
				</select>
				<p>Price<input type="text" name="ucret"></p>
				<p>Date<input type="date" name="date"></p>
				<p>Type of package</p>
				<select class="w3-input" name="pakettipi">
					{% for row in pakettipleri %}
					<option value="{{row[0]}}">{{row[0]}}</option>
					{% endfor %}
				</select>
				<p>Description<input type="text" name="explanation"></p>
			</div>

			<input type="submit" value="Add details">
		</form>


	</div>
	</div>
	<hr>

	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="User ID ile arama yapın." title="User ID girin">

	<div class="w3-padding w3-center w3-white" style="overflow-x:auto;">
		<br>
		<table id="myTable" style="width: 100%">
			<thead>
				<tr>
					<th>Value</th>
					<th>User ID</th>
					<th>Client Name</th>
					<th>Client Surname</th>
					<th>Price</th>
					<th>Date</th>
					<th>Package type</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for row in temp_deger %}
				<tr>
					<td class="w3-gray">{{row[0]}}</td>
					<td class="w3-gray">{{row[1]}}</td>
					<td class="w3-gray">{{row[2]}}</td>
					<td class="w3-gray">{{row[3]}}</td>
					<td class="w3-gray">{{row[4]}}</td>
					<td class="w3-gray">{{row[5]}}</td>
					<td class="w3-gray">{{row[6]}}</td>

					<td class="w3-gray">{{row[7]}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		Total debt is :
		<label id="jsvals"></label>
		<br>
	</div>

</body>
</html>