<!DOCTYPE HTML>
<html>

<head>
	<title>Giriş</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}

<!-- Content -->
<body
	style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.jpg') }}); background-position: center; background-repeat: no-repeat;background-size: cover;">
	<h1 align="center"> {{error}}</h1>
	<div class="form-style-10">
		<h1>Hesabınıza giriş yapın!<span>Hesabınız yoksa, ücretsiz kayıt olun...</span></h1>

		<form action="/login" method="POST">
			<p>Email: <input type="text" name="email"></p>
			<p>Şifre: <input type="password" name="parola"></p>
			<p><input type="submit"></p>

		</form>
	</div>

</body>

</html>