<!DOCTYPE HTML>
<html>

<head>
	<title>Package</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}

<!-- Content -->

<body
	style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.jpg') }}); background-position: center; background-repeat: no-repeat;background-size: cover;">
	<div class="w3-content w3-padding" style="max-width:1564px">
		<div class="display">

			<form class="w3-panel w3-card w3-white form-style-10" action="/addcategoryitem" method="POST"
				align="center">
				<h2>Yeni paket ekle</h2>

				<p>Paket adı<input name="paketadi" class="w3-input" type="text" placeholder="Paket adı"></p>
				<p>Paket Günü<input name="paketgunu" class="w3-input" type="text" placeholder="Paket ücreti"></p>
				<p>Paket saat sayısı<input name="paketsaati" class="w3-input" type="text"
						placeholder="Paket saat sayısı"></p>
				<p>Paket ücreti<input name="paketfiyati" class="w3-input" type="text" placeholder="Paket ücreti"></p>
				<p>Paket detayları<input name="paketaciklamasi" class="w3-input" type="text" placeholder="Açıklama"></p>
				<input type="submit" value="Add"></button>
			</form>
		</div>
	</div>
	<div class="w3-content w3-padding" style="max-width:1564px">
		<div class="display">
			<form class="w3-panel w3-card w3-white form-style-10" action="/addcategoryCafe" method="POST"
				align="center">
				<h2>Kafeye yeni ürün ekle</h2>
				<p>Ürünün adı<input name="nameOfProduct" class="w3-input" type="text" placeholder="Ürünün adı"></p>
				<p>Stok sayısı<input name="stock" class="w3-input" type="text" placeholder="Stok sayısı"></p>
				<input type="submit" value="Add"></button>
			</form>
		</div>
	</div>
	<div class="w3-margin w3-padding w3-center w3-white w3-card" style="overflow-x:auto;">
		<br>
		<table id="myTable" style="width: 100%">
			<thead>
				<tr>
					<th>Paket Adı</th>
					<th>Paket Günü</th>
					<th>Paket saati</th>
					<th>Paket Fiyatı</th>
					<th>Paket açıklaması</th>
				</tr>
			</thead>
			<tbody>
				{% for row in tumPaketler %}
				<tr>
					<td class="w3-gray">{{row[1]}}</td>
					<td class="w3-gray">{{row[2]}}</td>
					<td class="w3-gray">{{row[3]}}</td>
					<td class="w3-gray">{{row[4]}}</td>
					<td class="w3-gray">{{row[5]}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
	</div>
</body>

</html>