<!DOCTYPE HTML>
<html>

<head>
	<title>Package</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}

<!-- Content -->

<body
	style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.jpg') }}); background-position: center; background-repeat: no-repeat;background-size: cover;">
	<div class="w3-content w3-padding" style="max-width:1564px">
		<div class="display">

			<form class="w3-panel w3-card w3-white form-style-10" action="/addcategoryitem" method="POST" align="center">
				<h2>Add new Package</h2>

				<p>Package Name<input name="paketadi" class="w3-input" type="text" placeholder="Name"></p>
				<p>Package Price<input name="paketfiyati" class="w3-input" type="text"
						placeholder="Price"></p>
				<p>Package Description<input name="paketaciklamasi" class="w3-input" type="text"
						placeholder="Explanation"></p>
				<input type="submit" value="Add"></button>
			</form>
		</div>
	</div>

	<div class="w3-content w3-padding" style="max-width:1564px">
		<div class="display">

			<form class="w3-panel w3-card w3-white form-style-10" action="/addcategoryCafe" method="POST" align="center">
				<h2>Add new product to the cafe</h2>	
				<p>Name of product<input name="nameOfProduct" class="w3-input" type="text" placeholder="Name"></p>
				<p>Number of stock<input name="stock" class="w3-input" type="text" placeholder="Stock"></p>
				<input type="submit" value="Add"></button>
			</form>
		</div>
	</div>


</body>

</html>