<!DOCTYPE HTML>
<html>

<head>
	<title>Kayıt Sayfası </title>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}

<!-- Content -->
<body
	style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.jpg') }}); background-position: center; background-repeat: no-repeat;background-size: cover;">
	
	<div class="form-style-10">
		<form action="/register" method="POST" onsubmit="return validate()">

			<h1>Kayıt!<span>Üyelik oluştur</span></h1>
			<div class="section"><span>1</span>Kişisel bilgiler</div>
			<div class="inner-wrap">
				<p>İsim:<input type="text" name="adi"></p>
				<p>Soyisim: <input type="text" name="soyadi"></p>
				<p>Boy: <input type="text" name="boy"></p>
				<p>Kilo:<input type="text" name="kilo"></p>
				<p>Öğretmen mi:<input type="text" name="ogretmenMi"></p>
				<tr>
					<th>Kategori:</th>
					<td><select class="w3-input" name="pakettipi">
							{% for row in data %}
							<option value="{{row[0]}}">{{row[0]}}</option>
							{% endfor %}
						</select></td>
				</tr>
				<tr>
					<th>Ekstra Kategoriler:</th>
					<td><select class="w3-input" name="ekstrapaketler">
							{% for row in data %}
							<option value="{{row[0]}}">{{row[0]}}</option>
							{% endfor %}
						</select></td>
				</tr>
				<p>Aktif üye mi:<input type="text" name="aktifmi"></p>
				<p>Kayıt günü :<input type="date" name="kayitgunu"></p>
				<p>Arkadaş sayısı:<input type="text" name="arkadassayisi"></p>
			</div>
			<div class="section"><span>2</span>Address Information</div>
			<div class="inner-wrap">
				<p>1. Adress: <input type="text" name="adres1"></p>
				<p>2. Adress: <input type="text" name="adres2"></p>
				<p>Şehir: <input type="text" name="il"></p>
				<p>İlçe: <input type="text" name="ilce"></p>
				<p>Ülke: <input type="text" name="ulke"></p>
			</div>
			<div class="section"><span>3</span>Telefon - Email</div>
			<div class="inner-wrap">
				<p>Telefon: <input type="text" name="tel"></p>
				<p>E-mail:<input type="email" name="email"></p>
			</div>
			<div class="section"><span>4</span>Şifre</div>
			<div class="inner-wrap">
				<p>Şifre: <input type="password" name="parola" id="parola" required></p>
				<p>Şifre(Tekrar):<input type="password" name="cpassword" id="cpassword"></p>
			</div>
			<input type="submit" value="Kaydet">
		</form>
	</div>
	<p class="w3-center w3-gym11">Verilerin korunması adına geliştiricileri, bu uygulama üzerinden veri toplamamaktadır.</p>
</body>

</html>