<!DOCTYPE HTML>
<html>

<head>
	<title>Öğretmenlerin Detayları</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}

<!-- Content -->

<body
	style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.jpg') }}); background-position: center; background-repeat: no-repeat;background-size: cover;">
	<div class="w3-padding">
		{% if msg %}
		<p class="w3-gym11">{{msg}}</p>
		{% endif %}
		<form class="form-style-10" action="/addTeacherDetails" method="POST">
			<div class="section"><span>1</span>Ders detayları</div>
			<div class="inner-wrap">
				<p>Öğretmenin adı</p>
				<select class="w3-input" name="ogretmenAdi">
					{% for row in ogretmenAdi %}
					<option value="{{row[0]}}">{{row[0]}}</option>
					{% endfor %}
				</select>
				<p>Üye numarası</p>
				<select class="w3-input" name="clientId">
					{% for row in idler %}
					<option value="{{row[0]}}">{{row[0]}}</option>
					{% endfor %}
				</select>
				<p>Üye adı</p>
				<select class="w3-input" name="clientName">
					{% for row in isimler %}
					<option value="{{row[0]}}">{{row[0]}} - ID({{row[1]}})</option>
					{% endfor %}
				</select>
				<p>Üye soyadı</p>
				<select class="w3-input" name="clientSurname">
					{% for row in soyadlar %}
					<option value="{{row[0]}}">{{row[0]}} - ID({{row[1]}})</option>
					{% endfor %}
				</select>
				<p>Gün<input type="date" name="date"></p>
				<p>Paket türü</p>
				<select class="w3-input" name="pakettipi">
					{% for row in pakettipleri %}
					<option value="{{row[0]}}">{{row[0]}}</option>
					{% endfor %}
				</select>
			</div>
			<input type="submit" value="Kaydet">
		</form>
	</div>
	</div>
	<hr>
	<div class="w3-margin w3-padding w3-center w3-white w3-card" style="overflow-x:auto;">
		<br>
		<table id="myTable" style="width: 100%">
			<thead>
				<tr>
					<th>Ders numarası</th>
					<th>Üye numarası</th>
					<th>Üye adı</th>
					<th>Üye soyadı</th>
					<th>Öğretmenin adı</th>
					<th>Gün</th>
					<th>Paket türü</th>
				</tr>
			</thead>
			<tbody>
				{% for row in value %}
				<tr>
					<td class="w3-gray">{{row[0]}}</td>
					<td class="w3-gray">{{row[1]}}</td>
					<td class="w3-gray">{{row[2]}}</td>
					<td class="w3-gray">{{row[3]}}</td>
					<td class="w3-gray">{{row[4]}}</td>
					<td class="w3-gray">{{row[5]}}</td>
					<td class="w3-gray">{{row[6]}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
	</div>

</body>

</html>